
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<!-- -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script type="text/javascript" src="./js/axios.min.js"></script>
<body>
<div style="background: #FFF;">
<!--
	<h1>Head</h1>
	--> 
	<ul>
		<li><a href="index.html">Tasks</a></li>
	</ul>
</div>
<h2>Create a tasks item</h2>

<div id="app">
    <div class="form-group">
        <label for="TopicTitle">タイトル</label>
        <input type="text" class="form-control" id="title" v-model="title">
    </div>
    <div class="form-group">
        <label for="TopicContent">content</label>
        <textarea class="form-control" id="content" rows="3" v-model="content"></textarea>
    </div>
    <button onClick="test_ajax();">投稿</button>
</div>

<!-- -->
<script>
var baseUrl = 'http://127.0.0.1/code-3/';
console.log(baseUrl);

function test_ajax(){
    console.log('#btn-1');
    var hostUrl= baseUrl + 'api/tasks/create';
    var title = $('#title').val();
    var content = $('#content').val();
    $.ajax({
        url: hostUrl,
        type:'POST',
        dataType: 'json',
        data : { 'title' : title, 'content' : content},
        timeout:3000,
    }).done(function(data) {
        console.log("ajax-ok");
        console.log(data);
    }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
        console.log("ajax-error");
    })		
}
</script>

</body>
<script>
</script>
</html>